<g class="dev-activity-gate dev-activity-gate-{{kind}}{{#if isGhost}} dev-activity-ghost{{/if}}">
    <path d="M20,-4L44,20L20,44L-4,20L21,-4" fill="#fff" stroke="rgb(197,196,48)" stroke-width="11px" class="diagram-activity-background"></path>

    <path d="M20,-4L44,20L20,44L-4,20L21,-4" fill="#fff" stroke="rgb(197,196,48)" stroke-width="2.5px" class="dev-activity-gate-outer js-activity-shape"></path>

    <path d="M20,0L40,20L20,40L0,20L20,0" fill="white" class="dev-activity-gate-inner js-activity-shape"></path>

    {{#if isParallel}}
        <line x1="8" y1="20" x2="32" y2="20" stroke="rgb(197,196,48)" stroke-width="2.5" class="js-activity-shape"></line>
        <line stroke="rgb(197,196,48)" stroke-width="2.5" x1="20" y1="8" x2="20" y2="32" class="js-activity-shape"></line>
    {{/if}}

    {{#unless isGhost}}
    <g class="js-activity-connectors">
        <circle r="4" cx="20" cy="-3" index="0" alignment="top" charge="-1"
                class="when-flow-drag dev-diagram-connector js-diagram-connector-visible"></circle>
        <circle r="7" cx="20" cy="-3" index="0" alignment="top" charge="-1"
                class="js-diagram-connector dev-diagram-connector"></circle>

        <circle r="4" cx="43" cy="20" index="10" alignment="right" charge="-1"
                class="when-flow-drag dev-diagram-connector js-diagram-connector-visible"></circle>
        <circle r="7" cx="43" cy="20" index="10" alignment="right" charge="-1"
                class="js-diagram-connector dev-diagram-connector"></circle>

        <circle r="4" cx="20" cy="43" index="20" alignment="bottom" charge="-1"
                class="when-flow-drag dev-diagram-connector js-diagram-connector-visible"></circle>
        <circle r="7" cx="20" cy="43" index="20" alignment="bottom" charge="-1"
                class="js-diagram-connector dev-diagram-connector"></circle>

        <circle r="4" cx="-3" cy="20" index="30" alignment="left" charge="-1"
                class="when-flow-drag dev-diagram-connector js-diagram-connector-visible"></circle>
        <circle r="7" cx="-3" cy="20" index="30" alignment="left" charge="-1"
                class="js-diagram-connector dev-diagram-connector"></circle>

        <circle r="4" cx="31.5" cy="8.5" index="5" alignment="right" charge="-1"
                class="when-flow-drag dev-diagram-connector js-diagram-connector-visible"></circle>
        <circle r="7" cx="31.5" cy="8.5" index="5" alignment="right" charge="-1"
                class="js-diagram-connector dev-diagram-connector"></circle>

        <circle r="4" cx="31.5" cy="31.5" index="15" alignment="right" charge="-1"
                class="when-flow-drag dev-diagram-connector js-diagram-connector-visible"></circle>
        <circle r="7" cx="31.5" cy="31.5" index="15" alignment="right" charge="-1"
                class="js-diagram-connector dev-diagram-connector"></circle>

        <circle r="4" cx="8.5" cy="31.5" index="25" alignment="left" charge="-1"
                class="when-flow-drag dev-diagram-connector js-diagram-connector-visible"></circle>
        <circle r="7" cx="8.5" cy="31.5" index="25" alignment="left" charge="-1"
                class="js-diagram-connector dev-diagram-connector"></circle>

        <circle r="4" cx="8.5" cy="8.5" index="35" alignment="left" charge="-1"
                class="when-flow-drag dev-diagram-connector js-diagram-connector-visible"></circle>
        <circle r="7" cx="8.5" cy="8.5" index="35" alignment="left" charge="-1"
                class="js-diagram-connector dev-diagram-connector"></circle>
    </g>
    {{/unless}}
</g>