<g class="dev-activity pd-task pd-task_user">
    <rect width="{{size.width}}"
          height="{{size.height}}"
          x="0"
          y="0"
          rx="4"
          ry="4"
          class="js-activity-body diagram-activity-background">
    </rect>

     <rect width="{{size.width}}"
          height="{{size.height}}"
          x="0"
          y="0"
          rx="4"
          ry="4"
          class="js-activity-body js-activity-shape pd-task__body">
    </rect>

    <g transform="{{dimScale}}" class="js-activity-resize-root">
        <g transform="translate(50,80)">
            <g class="js-activity-resize-root-anti js-activity-shape js-activity-icon pd-casetask" transform="{{dimScaleA}}">
                <g transform="translate(-5,-1046.3622)">
                    <path class="pd-casetask__icon" d="m 16,1046.3622 q -0.02457,1.1166 -0.282643,2.1992 -0.245776,1.0827 -0.79877,1.9286 -0.565285,0.8685 -1.364056,1.3647 -0.798771,0.4962 -2.027649,0.4962 -1.155147,0 -2.0522279,-0.4398 -0.8970811,-0.4512 -1.9293395,-1.6016 -1.253456,-1.4098 -1.8187397,-1.7706 -0.5652849,-0.3609 -1.1797235,-0.3609 -1.1551461,0 -1.7695858,0.9924 -0.6144397,0.9812 -0.7250385,3.1918 L 0,1052.3622 q 0.02457348,-1.1278 0.27035361,-2.188 0.25806386,-1.0714 0.79877109,-1.9399 0.5284174,-0.8345 1.3763435,-1.342 0.8479261,-0.5188 2.0276496,-0.5188 1.1428572,0 2.0399393,0.4398 0.9093699,0.4286 1.9539171,1.6015 0.9831024,1.1053 1.6098308,1.6241 0.626728,0.5075 1.376344,0.5075 1.265745,0 1.855607,-1.1391 0.60215,-1.1391 0.639016,-3.0451 l 2.052228,0 z" />
               </g>
            </g>
        </g>

        <g class="js-activity-resizers">
            <rect class="svg-resizer svg-north-resizer js-north-resizer js-resizer"
                  x="0"
                  y="-5"
                  width="100"
                  height="10">
            </rect>
            <rect class="svg-resizer svg-south-resizer js-south-resizer js-resizer"
                  x="0"
                  y="95"
                  width="100"
                  height="10">
            </rect>
            <rect class="svg-resizer svg-east-resizer js-east-resizer js-resizer"
                  x="95"
                  y="0"
                  width="10"
                  height="100">
            </rect>
            <rect class="svg-resizer svg-west-resizer js-west-resizer js-resizer"
                  x="-5"
                  y="0"
                  width="10"
                  height="100">
            </rect>
        </g>
    </g>
</g>


