<div class="process-designer js-processDesigner">
    <div class="js-loading l-loader"></div>
    <div class="tr-toolbar js-toolBar noselect"></div>

    <div class="js-diagram-editor-notification dev-diagram-editor-notification"></div>

    <div class="process-designer-content js-visibleGraph">
        <div class="graphContainer js-graphContainer"></div>
    </div>

    <div class="diagram-validation js-validation-container" style="display:none">
        <div class="diagram-validation_i js-validation"></div>
    </div>

    <div class="zoom_navitator js-rightToolbar noselect"></div>
    <div class="info-container js-activity-info-container"></div>
</div>
