<div class="js-diagram-refresh diagram-toolbar-menu-item" style="display:none">
    &gt; &lt;
</div>

{{#if embeddedStack}}
<span class="button-icon button-icon_txt button-icon_back button-icon_back-process js-diagram-embedded-back">{{localize 'PROCESS.PROCESSTEMPLATES.DESIGNER.TOOLBAR.BACKTOROOT'}}</span>
{{/if}}

<div class="toolbar__i toolbar__i_left js-diagram-versions diagram-toolbar-menu-item">
</div>

<div class="button-icon button-icon_txt button-icon_publish button-margin-right js-diagram-publish diagram-toolbar-menu-item">
    {{localize 'PROCESS.PROCESSTEMPLATES.DESIGNER.TOOLBAR.PUBLISH'}}
    {{#if hasPublishStatus}}
    {{#if publishedRevision}}
    <span class="validation-result__ok">({{localize 'PROCESS.PROCESSTEMPLATES.DESIGNER.TOOLBAR.PUBLISHSUCCESS'}} : {{publishedRevision}})</span>
    {{/if}}
    {{/if}}
</div>

<div class="button-icon button-icon_txt button-icon_validate js-diagram-validate diagram-toolbar-menu-item">
    {{localize 'PROCESS.PROCESSTEMPLATES.DESIGNER.TOOLBAR.VALIDATE'}}
</div>

<span class="validation-result js-validation-result-briefing">
    {{#if hasValidationStatus}}
    {{#if validationStatus}}
    <span class="validation-result__ok">{{localize 'PROCESS.PROCESSTEMPLATES.DESIGNER.TOOLBAR.VALIDATIONSUCCESS'}}</span>
    {{else}}
    <span class="validation-result__error">{{localize 'PROCESS.PROCESSTEMPLATES.DESIGNER.TOOLBAR.VALIDATIONFAILURE'}}</span>
    {{/if}}
    {{/if}}
</span>

<div class="js-diagram-restoreRevision button-icon button-icon_txt diagram-toolbar-menu-item" style="display: none">
    {{localize 'PROCESS.PROCESSTEMPLATES.DESIGNER.TOOLBAR.RESTOREREVISION'}}
</div>

<div class="js-diagram-breadcrumb toolbar-breadcrumb">

</div>

<div class="button-icon button-icon_txt button-icon_saveprocess js-diagram-save diagram-toolbar-menu-item">
    {{#if isSaving}}
    <span class="dev-diagram-saving">{{localize 'PROCESS.PROCESSTEMPLATES.DESIGNER.TOOLBAR.SAVING'}}</span>
    {{else}}
    <span class="js-diagram-save-now dev-diagram-save-now">{{localize 'PROCESS.PROCESSTEMPLATES.DESIGNER.TOOLBAR.SAVENOW'}}</span>
    {{/if}}
</div>

{{#if lastSavedExplained}}
<span class="last_saved">{{localize 'PROCESS.PROCESSTEMPLATES.DESIGNER.TOOLBAR.LASTSAVED'}} {{lastSavedExplained}}</span>
{{/if}}

<div class="button-icon button-icon_txt button-icon_actions right js-diagram-actions" style="display:none">
</div>

